.fruits-display>div{
    border: 1px solid rgb(0, 116, 10);
    background-color: rgb(235, 243, 236);
    border-radius: 10px;
    height: 580px;
    width: 270px;
    margin: 25px;
    margin-top: 145;
    flex-direction: row;
    box-shadow: 0px 1px 2px 1px rgb(202, 202, 202) ;
}

.fruits-display{
    display: flex;
}

header{

    position: absolute;
    background-color: green;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;

}

.image-container{
    box-shadow: 0 0 2px 2px rgb(154, 165, 154);
    margin-top: 10px ;
    margin-left: 7px;
    margin-right: 5px;
    margin-bottom: 20px;
    height: 250px;
    width: 250px;

}

.text-container{
    border: 1px solid rgb(0, 0, 0);
    margin-left: 7px;
    margin-right: 5px;
    margin-bottom: 5px;   
    height: 130px;
    width: 253px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.name-container{
    background-color: green;
    width: 100%;
    height: 20px;
    padding: 12px 0px 12px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.price-container{
    background-color: green;
    margin: 0 5px 5px 5px;
    height: 50px;
    text-align: right;
    color: white;
    font-size: 30px;
    padding-right: 12px;
    padding-top: 12px;
}

.text-container>p{
    padding: 0 15px 15px 15px;
    font-size: 17px;
}

