.fruits-display>div{
    border: 1px solid rgb(0, 116, 10);
    border-radius: 10px;
    height: 280px;
    width: 270px;
    margin: 25px;
    margin-top: 145;
    flex-direction: row;
    box-shadow: 0px 1px 2px 1px rgb(202, 202, 202) ;
}

.fruits-display{
    display: flex;
}

header{

    position: absolute;
    background-color: green;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;

}


#div1{
    border: 1px solid rgb(0, 124, 10);
}

.image-container{
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px ;
    margin-left: 7px;
    margin-right: 5px;
    margin-bottom: 6px;
    height: 150px;
    width: 253px;
    border-radius: 10px;
}

.text-container{
    border: 1px solid rgb(0, 0, 0);
    margin-left: 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    height: 100px;
    width: 253px;
    overflow-y: scroll;
    overflow-x: hidden;
}

